<div class="pull-right">
	<div class="btn-group">
		<button class="btn dropdown-toggle" data-toggle="dropdown">
			<i class="icon-gear icon-large"></i>
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu pull-right">
			<li><a href="javascript:void(0)" ng-click="deleteJob()"><i class="icon-remove"></i> Delete job</a></li>
		</ul>
	</div>
</div>
<h1>Job: <span ng-bind="job.name"></span></h1>
<dl class="dl-horizontal">
	<dt>Status</dt>
	<dd ng-bind="job.status"></dd>
</dl>
<div class="btn-group pull-right">
	<button class="btn dropdown-toggle" data-toggle="dropdown">
		add trigger <span class="caret"></span></button>
	<ul class="dropdown-menu">
		<li ng-repeat="trigger in triggers">
			<a ng-click="addTriggerToJob('{{trigger}}')" href="javascript:void(0)">{{ trigger }}</a>
		</li>
	</ul>
</div>
<h2>Triggers</h2>

<table class="table table-condensed table-bordered" ng-show="job.triggers">
	<colgroup>
		<col style="width: 100%;">
		<col style="width: 0;">
	</colgroup>
	<thead>
	<tr>
		<th>Name</th>
		<th>Remove</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="trigger in job.triggers">
		<td><a href="/#/triggers/{{trigger}}">{{trigger}}</a></td>
		<td>
			<button class="btn" ng-click="removeTrigger('{{trigger}}')">
				<i class="icon-remove"></i>
			</button>
		</td>
	</tr>
	</tbody>
</table>
<p ng-hide="job.triggers">There are no Triggers defined for this job.</p>

<div class="btn-group pull-right">
	<button class="btn dropdown-toggle" data-toggle="dropdown">
		add tasks <span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
		<li ng-repeat="task in tasks">
			<a ng-click="addTaskToJob('{{task}}')" href="javascript:void(0)">{{ task }}</a>
		</li>
	</ul>
</div>
<h2>Tasks</h2>

<table class="table table-condensed table-bordered" ng-show="job.tasks">
	<colgroup>
		<col style="width: 70%;">
		<col style="width: 10%;">
		<col style="width: 10%;">
		<col style="width: 10%;">
	</colgroup>
	<thead>
	<tr>
		<th>Name</th>
		<th>Order</th>
		<th>Remove</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="task in job.tasks track by $index">
		<td><a href="/#/tasks/{{ task }}">{{ task }}</a></td>
		<td>
			<button class="btn">
				<i class="icon-arrow-up"></i>
			</button>
		</td>
		<td>
			<button class="btn" ng-click="removeTask($index)">
				<i class="icon-remove"></i>
			</button>
		</td>
	</tr>
	</tbody>
</table>

<p ng-hide="job.tasks">There are no Tasks defined for this job.</p>

<hr/>
<button class="btn btn-primary pull-right">Done</button>
