<h1>{{ job.Name }}</h1>
<h2>Triggers</h2>
<div class="btn-group">
	<button class="btn dropdown-toggle" data-toggle="dropdown">Add
		<span class="caret"></span></button>
	<ul class="dropdown-menu">
		<li ng-repeat="trigger in triggers">
			<a ng-click="addTriggerToJob('{{trigger}}')" href="javascript:void(0)">{{ trigger }}</a>
		</li>
	</ul>
</div>

<ul ng-show="job.triggers">
	<li ng-repeat="trigger in job.triggers">
		<a href="/#/triggers/{{trigger}}">{{trigger}}</a>
		<button class="btn" ng-click="removeTrigger('{{trigger}}')"><i class="icon-remove pull-right"></i></button>
	</li>
</ul>
<p ng-hide="job.triggers">There are no Triggers defined for this job.</p>

<h2>Tasks</h2>
<div class="btn-group">
	<button class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		Add <span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
		<li ng-repeat="task in tasks">
			<a ng-click="addTaskToJob('{{task}}')" href="javascript:void(0)">{{ task }}</a>
		</li>
	</ul>
</div>

<ul id="sortable" ng-show="job.tasks">
	<li class="ui-state-default" ng-repeat="task in job.tasks track by $index">
		<a href="/#/tasks/{{ task }}">{{ task }}</a> <button class="btn" ng-click="removeTask($index)"><i class="icon-remove pull-right"></i></button>
	</li>
</ul>

<p ng-hide="job.tasks">There are no Tasks defined for this job.</p>

<hr/>
<button id="save-changes" class="btn">Save</button>
