<div class="pull-right">
	<div class="btn-group">
		<button class="btn dropdown-toggle" data-toggle="dropdown">
			<i class="icon-gear icon-large"></i>
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu pull-right">
			<li><a href="" ng-click="promptJob()"><i class="icon-plus"></i> Add new job</a></li>
		</ul>
	</div>
</div>
<h1>Jobs</h1>
<div class="row">
	<button class="btn" ng-click="quickRun(selected[0].name)" ng-class="{disabled: selected.length == 0}"><i class="icon-play"></i> Run</button>
	<a href="#/jobs/{{selected[0].name}}" class="btn" ng-class="{disabled: selected.length == 0}"><i class="icon-folder-open"></i> Open</a>
</div>
		<hr/>
<div class="row">
	<div class="ng-grid-style" ng-grid="gridOptions"></div>
</div>
