<div class="pull-right">
	<div class="btn-group">
		<button class="btn dropdown-toggle" data-toggle="dropdown">
			<i class="icon-gear icon-large"></i>
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu pull-right">
			<li><a href="#" ng-click="promptTask()"><i class="icon-plus"></i> Add new task</a></li>
		</ul>
	</div>
</div>
<h1>Tasks</h1>
<p ng-hide="tasks">There are not any tasks yet. You can add one now by clicking on the gear icon above.</p>
<table class="table" ng-show="tasks">
	<thead>
	<tr>
		<th>Task</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="task in tasks">
		<td><a href="/#/tasks/{{ task.name }}">{{ task.name }}</a></td>
	</tr>
	</tbody>
</table>
