<h1>{{ trigger.name }}</h1>
<p>Enter how often this trigger should fire:</p>
<div class="input-append">
	<input type="text" name="cron" id="cron" ng-model="trigger.schedule"/>
	<input type="submit" class="btn" value="Save" ng-click="saveTrigger()"/>
</div>

<h3>Bindings</h3>
<p ng-hide="jobs">This trigger is not bound to any jobs.</p>
<p ng-show="jobs">This trigger is bound to the following jobs.</p>
<ul ng-show="jobs">
	<li ng-repeat="job in jobs">
		<a href="/#/jobs/{{job.name}}">{{job.name}}</a>
	</li>
</ul>