<h1>{{ trigger.name }}</h1>
<p>Enter how often this trigger should fire:</p>
<input type="text" name="cron" id="cron" ng-model="trigger.schedule"/>
<hr/>
<button class="btn btn-primary" ng-click="saveTrigger()">Save</button>

<h3>Bindings</h3>
<p ng-hide="jobs.length > 0">This trigger is not bound to any jobs.</p>
<p ng-show="jobs.length > 0">This trigger is bound to the following jobs.</p>
<ul ng-show="jobs.length > 0">
	<li ng-repeat="job in jobs">
		<a href="/#/jobs/{{job.name}}">{{job.name}}</a>
	</li>
</ul>