<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ template "title" . }} | gorunner</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
	<style>
		body {
			padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
		}
	</style>
	<!-- <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet"> -->
	{{ template "head" . }}

	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="/">gorunner</a>

			<div class="nav-collapse collapse">
				<ul class="nav">
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<ul class="nav nav-list" id="side-nav">
				{{template "navigation" .}}
				<li class="nav-header" id="recent">Most Recent Runs</li>
				<li id="spinner"><img src="/static/img/spinner.gif"></li>
			</ul>
		</div>
		<div class="span9">
			{{template "content" .}}
		</div>
	</div>
</div>

{{template "bottom" .}}

<script src="/static/js/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
{{ template "scripts" .}}
<script type="text/javascript">
	var doRecentRuns = function(){
		var recent = $.ajax({
			url: "/runs",
			contentType: "json"
		});

		recent.done(function(data){
			var nav = $('#side-nav');
			nav.find('li.history').remove();

            if(data.length == 0){
                nav.append("<li class='history'><a href='#'>No runs found</a></li>")
            }

			var thisJob = $("h1").text();

			$.each(data, function(index, run){
				var done = '';
				switch(run.Status){
					case "Failed":
						done = "<span class='pull-right label label-warning'>Failed</span>";
						break;
					case "Running":
						done = "<span class='pull-right label label-inverse'>Running</span>";
						break;
					case "Done":
						done = "<span class='pull-right label label-success'>Done</span>";
						break;
					default:
						done = "<span class='pull-right label label-important'>"+run.Status+"</span>";
						break;
				}
				if(thisJob === run.UUID){
					nav.append("<li class='history active'><a href='/runs/"+ run.UUID +"'>"+ run.Job.Name + done +"</a></li>")
				} else {
					nav.append("<li class='history'><a href='/runs/"+ run.UUID +"'>"+ run.Job.Name + done +"</a></li>")
				}
				return index <= 10;
			});
			$('#spinner').hide();
		});
		window.setTimeout(doRecentRuns, 5000);
	};

	doRecentRuns();
</script>
</body>
</html>
