{{ define "title" }}{{ .Name }}{{ end }}

{{ define "head" }}
<link rel="stylesheet" href="/static/css/jquery-ui.min.css"/>
<style>
	.ui-sortable ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	.ui-sortable li {
		margin: 5px;
		padding: 5px;
		width: 150px;
	}
</style>
{{end}}

{{ define "navigation" }}
	<li class="nav-header">Navigation</li>
	<li><a href="/jobs">Jobs</a></li>
	<li><a href="/tasks">Tasks</a></li>
	<li><a href="/runs">Runs</a></li>
	<li class="nav-header">Actions</li>
	<li><a href="#" id="run-job">Run Job</a></li>
	<li><a href="#bind-task" role="button" data-toggle="modal">Bind Task</a></li>
	<li><a href="#" id="delete-job">Delete Job</a></li>
{{ end }}

{{ define "content" }}
	<h1>{{ .Name }}</h1>
	{{ if .Tasks }}
		<p>The following Tasks are defined for this job:</p>
		<ul id="sortable">
		{{ range $index, $_ := .Tasks }}
			<li class="ui-state-default">{{ . }}<a href="#" class="remove" data-task="{{.}}" data-position="{{$index}}"> <i class="icon-remove pull-right"></i></a> </li>
		{{ end }}
		</ul>
	{{ else }}
		<p>There are no Tasks defined for this job.</p>
	{{ end }}
	<hr/>
	<button id="save-changes" class="btn">Save</button>
{{ end }}

{{ define "bottom" }}
<div id="bind-task" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Bind Task</h3>
	</div>
	<div class="modal-body">
		<p>Select a task from the list to bind to this Job.</p>
		<form name="bind-task" action="/tasks/{{ .Name }}" method="post">
			<label for="task">Available Tasks</label>
			<select name="task" id="task"></select>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
		<button class="btn btn-primary" data-dismiss="modal" id="bind">Add</button>
	</div>
</div>
{{ end }}

{{ define "scripts" }}
<script src="/static/js/jquery-ui.min.js"></script>
<script type="text/javascript">
	$('#sortable').sortable({revert:true});

	var ajax = $.ajax({
		url: "/tasks",
		dataType: "json"
	});

	ajax.done(function (data, status, jqxhr){
		var tasks = JSON.parse(jqxhr.responseText);
		var option = $('<option>');
		var options = [];
		$.each(tasks, function(i, v){
			options.push(option.clone().attr('value', v.Name).text(v.Name))
		});
		$('#task').append(options);
	});

	$('#bind').click(function(evt){
		var task = $("#task").find(":selected").val();
		var ajax = $.ajax({
			url: '/jobs/{{ .Name }}',
			type: "post",
			data: {task:task}
		});

		ajax.done(function(){
			window.location.reload();
		});
	});

	$('.remove').click(function(evt){
		var position = $(this).attr('data-position');
		var name = $(this).attr('data-task');
		if(!confirm("Really delete " + name + "?")){
			return;
		}
		var ajax = $.ajax({
			url: "/jobs/{{.Name}}/" + position,
			type: "delete"
		});

		ajax.done(function(){
			window.location = "/jobs/{{.Name}}";
		})
	});

	$('#delete-job').click(function(evt){
		if(!confirm('Delete?')){
			return;
		}

		var ajax = $.ajax({
			url: "/jobs/{{ .Name }}",
			type: "delete"
		});

		ajax.done(function(){
			window.location = "/jobs";
		});
	});

	$('#run-job').click(function(evt){
		var ajax = $.ajax({
			url: "/runs",
			type: "post",
			data: {job: "{{.Name}}"}
		});

		ajax.done(function(data){
			location.reload();
		});

		ajax.fail(function(){
			alert("failed");
		})
	});
</script>
{{ end }}