{{ define "title" }}{{ .Name }}{{ end }}

{{ define "head" }}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
<style>
	.ui-sortable ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	.ui-sortable li {
		margin: 5px;
		padding: 5px;
		width: 150px;
	}
</style>
{{end}}

{{ define "navigation" }}
	{{ template "nav" "Job" }}
	<li class="nav-header">Actions</li>
	<li><a href="#" id="run-job">Run Job</a></li>
	<li><a href="#" id="delete-job">Delete Job</a></li>
{{ end }}

{{ define "content" }}
	<h1>{{ .Name }}</h1>
	<h2>Triggers</h2>
	<div class="btn-group">
 		<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Add
    	<span class="caret"></span></a>
  	<ul class="dropdown-menu" id="available-triggers"></ul>
	</div>
	{{ if .Triggers }}
		<ul>
		{{ range $index, $_ := .Triggers }}
			<li><a href="/triggers/{{ . }}">{{.}}</a> <a href="#" class="remove-trigger" data-trigger="{{.}}"><i class="icon-remove"></i></a></li>
		{{ end }}
		</ul>
	{{ else }}
		<p>There are no Triggers defined for this job.</p>
	{{ end }}
	<h2>Tasks</h2>
	<div class="btn-group">
 		<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Add
    	<span class="caret"></span></a>
  	<ul class="dropdown-menu" id="available-tasks"></ul>
	</div>
	{{ if .Tasks }}
		<ul id="sortable">
		{{ range $index, $_ := .Tasks }}
			<li class="ui-state-default"><a href="/tasks/{{ . }}">{{.}}</a> <a href="#" class="remove-task" data-task="{{.}}" data-position="{{$index}}"> <i class="icon-remove pull-right"></i></a> </li>
		{{ end }}
		</ul>
	{{ else }}
		<p>There are no Tasks defined for this job.</p>
	{{ end }}
	<hr/>
	<button id="save-changes" class="btn">Save</button>
{{ end }}

{{ define "bottom" }}
{{ end }}

{{ define "scripts" }}
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript">
	$('#sortable').sortable({revert:true});

	var ajaxTasks = $.ajax({
		url: "/tasks",
		dataType: "json"
	});

	var ajaxTriggers = $.ajax({
		url: "/triggers",
		dataType: "json"
	});

	ajaxTasks.done(function (data){
        var li = $('<li>');
        var a = $('<a href="#">');
		var items = [];
		$.each(data, function(i, v){
			items.push(li.clone()
				.append(a.clone()
					.text(v.Name)
					.attr('data-task',v.Name)
					.click(addTask)));
		});
        $('#available-tasks').append(items);
	});

	ajaxTriggers.done(function(data){
		var li = $('<li>');
        var a = $('<a href="#">');
		var items = [];
		$.each(data, function(i, v){
			items.push(li.clone()
				.append(a.clone()
					.text(v.Name)
					.attr('data-trigger',v.Name)
					.click(addTrigger)));
		});
        $('#available-triggers').append(items);
	});

	var addTask = function(evt){
		var task = $(this).attr('data-task');
		var ajax = $.ajax({
			url: '/jobs/{{ .Name }}/tasks',
			type: "post",
			data: {task:task}
		});

		ajax.done(function(){
			window.location.reload();
		});
	};

	var addTrigger = function(evt) {
		var trigger = $(this).attr('data-trigger');
		var ajax = $.ajax({
			url: '/jobs/{{ .Name }}/triggers',
			type: "post",
			data: {trigger:trigger}
		});

		ajax.done(function(){
			window.location.reload();
		});
	};

	$('.remove-task').click(function(evt){
		var position = $(this).attr('data-position');
		var name = $(this).attr('data-task');
		if(!confirm("Really delete " + name + "?")){
			return;
		}
		var ajax = $.ajax({
			url: "/jobs/{{.Name}}/tasks/" + position,
			type: "delete"
		});

		ajax.done(function(){
			window.location = "/jobs/{{.Name}}";
		})
	});

	$('.remove-trigger').click(function(evt){
		var name = $(this).attr('data-trigger');
		if(!confirm("Really delete " + name + "?")){
			return;
		}
		var ajax = $.ajax({
			url: "/jobs/{{.Name}}/triggers/" + name,
			type: "delete"
		});

		ajax.done(function(){
			window.location = "/jobs/{{.Name}}";
		})
	});

	$('#delete-job').click(function(evt){
		if(!confirm('Delete?')){
			return;
		}

		var ajax = $.ajax({
			url: "/jobs/{{ .Name }}",
			type: "delete"
		});

		ajax.done(function(){
			window.location = "/jobs";
		});
	});

	$('#run-job').click(function(evt){
		var ajax = $.ajax({
			url: "/runs",
			type: "post",
			data: {job: "{{.Name}}"}
		});

		ajax.done(function(data){
			location.reload();
		});

		ajax.fail(function(){
			alert("failed");
		})
	});
</script>
{{ end }}