{{ define "title" }}Jobs{{ end }}

{{ define "head" }}
{{end}}

{{ define "navigation" }}
	<li class="nav-header">Navigation</li>
	<li class="active"><a href="/jobs">Jobs</a></li>
	<li><a href="/tasks">Tasks</a></li>
	<li><a href="/runs">Runs</a></li>
	<li class="nav-header">Actions</li>
	<li><a href="#add-job" role="button" data-toggle="modal">Add job</a></li>
{{ end }}

{{ define "content" }}

<h1>Jobs</h1>
{{ if not .GetJobs }}
	<p>There are not any jobs yet. You can <a href="#add-job" role="button" data-toggle="modal">add one now</a>!</p>
{{ else }}
	<table class="table">
		<colgroup>
			<col style="width: 50%">
			<col style="width: 25%">
			<col style="width: 25%">
			<col style="width: 0">
		</colgroup>
		<thead>
		<tr>
			<th>Job</th>
			<th>Tasks</th>
			<th>Status</th>
			<th>Execute</th>
		</tr>
		</thead>
		<tbody>
		{{ range .GetJobs }}
		<tr>
			<td><a href="/jobs/{{ .Name }}">{{ .Name }}</a></td>
			{{ if .Tasks }}
			<td>{{ .Tasks | len }}</td>
			{{ else }}
			<td>0</td>
			{{ end }}
			<td><span class="label">new</span></td>
			<td><button class="btn btn-mini go" data-job="{{.Name}}"><i class="icon-play"></i></button></td>
		</tr>
		{{ end }}
		</tbody>
	</table>
	{{ end }}
{{ end }}

{{ define "bottom" }}
	<div id="add-job" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Add job</h3>
		</div>
		<div class="modal-body">
			<form name="add-job" action="/jobs" method="post">
				<label for="name">Name</label>
				<input type="text" name="name" id="name">
			</form>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			<button class="btn btn-primary" id="add-job-submit">Add</button>
		</div>
	</div>
{{ end }}

{{ define "scripts" }}
<script type="text/javascript">
	$('#add-job-submit').click(function(evt){
		var name = $('#name').val();

		var ajax = $.ajax({
			url: "/jobs",
			type: "post",
			data: {name: name}
		});

		ajax.done(function(){
			window.location = "/jobs/" + name;
		});

		ajax.fail(function(d){
			alert(d.responseText);
		});
	})
</script>
{{ end }}