{{ define "title" }}{{ .UUID }}{{ end }}

{{ define "head" }}
{{end}}

{{ define "navigation" }}
<li class="nav-header">Navigation</li>
<li><a href="/jobs">Jobs</a></li>
<li><a href="/tasks">Tasks</a></li>
<li><a href="/runs">Runs</a></li>
{{ end }}

{{ define "content" }}
<h1>{{.UUID}}</h1>
<ul>
	<li>Job: {{.Job.Name}}</li>
	<li>Started: {{.Start.Format "2006-01-02 15:04:05"}}</li>
	{{ if .End.IsZero }}
	<li>This job is still running</li>
	{{ else }}
	<li>Ended: {{.End.Format "2006-01-02 15:04:05"}}</li>
	{{ end }}
	<li>Results:<ul>
		{{ range .Results }}
		<li {{if .Error}}class="alert-danger"{{end}}>Task: {{.Task.Name}}<ul>
			<li>Started: {{.Start.Format "2006-01-02 15:04:05"}}</li>
			{{ if .End.IsZero }}
			<li>This task is still running</li>
			{{ else }}
				<li>Ended: {{.End.Format "2006-01-02 15:04:05"}}</li>
				<li>Duration: {{.End.Sub .Start}}</li>
				{{ if .Error }}
				<li>{{.Error }}</li>
				{{ end}}
				{{ if .Output }}
					<li>Output: <pre>{{.Output}}</pre></li>
				{{ else }}
					<li>No Output from this Task</li>
				{{ end }}
				{{ end }}
		</ul></li>
		{{ end }}
	</ul></li>
</ul>
{{ end }}

{{ define "bottom" }}
{{ end }}

{{ define "scripts" }}

{{ end }}