{{ define "title" }}Runs{{ end }}

{{ define "head" }}
{{end}}

{{ define "navigation" }}
<li class="nav-header">Navigation</li>
<li><a href="/jobs">Jobs</a></li>
<li><a href="/tasks">Tasks</a></li>
<li class="active"><a href="/runs">Runs</a></li>
{{ end }}

{{ define "content" }}
<h1>Runs</h1>
<table class="table">
	<thead>
	<tr>
		<th>UUID</th>
		<th>Job</th>
		<th>Start</th>
		<th>End</th>
	</tr>
	</thead>
	<tbody>
	{{ range .GetList }}
	<tr>
		<td><a href="/runs/{{ .UUID }}">{{ .UUID }}</a></td>
		<td><a href="/jobs/{{.Job.Name}}">{{ .Job.Name }}</a></td>
		<td>{{.Start.Format "2006-01-02 15:04:05" }}</td>
		{{ if .End.IsZero }}
		<td></td>
		{{ else }}
		<td>{{.End.Format "2006-01-02 15:04:05" }}</td>
		{{ end }}
	</tr>
	{{ end }}
	</tbody>
</table>
{{ end }}

{{ define "bottom" }}
{{ end }}

{{ define "scripts" }}

{{ end }}